<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czht.smartpark.auth.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.czht.smartpark.auth.dmo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="account_non_expired" jdbcType="BIT" property="accountNonExpired" />
    <result column="account_non_locked" jdbcType="BIT" property="accountNonLocked" />
    <result column="credentials_non_expired" jdbcType="BIT" property="credentialsNonExpired" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, account, nickname, password, account_non_expired, account_non_locked, 
    credentials_non_expired, enabled, seq, modify_time, create_time
  </sql>

  <select id="getByAccount" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from tb_uac_user where account=#{account}
  </select>

  <select id="getUserMenuAuth" resultType="java.lang.String">
    SELECT
        m.menu_url
    FROM
        tb_uac_menu m
        LEFT JOIN tb_uac_role_menu rm ON m.id = rm.menu_id
        LEFT JOIN tb_uac_user_role ur ON rm.role_id = ur.role_id
    WHERE
        ur.user_id =#{userId}
    ORDER BY
        m.seq
  </select>

  <select id="">
    SELECT
        r.resource_url
    FROM
        tb_uac_resource r
        LEFT JOIN tb_uac_client_resource cr ON r.id = cr.resource_id
        left join oauth_client_details c on cr.client_id=c.id
    WHERE
        c.id =#{clientId}
  </select>

</mapper>